<%= turbo_frame_tag @identification do %>
  <div class="bg-white border border-slate-300 rounded py-2 px-4 mb-4">
    <%= form_with model: @identification, url: @path do |form| %>
    <div class="my-2">
      <p><label>Type</label></p>
      <%= form.select :id_type, [["Driver's License", :drivers_license], ["SIN", :sin]], {}, class: "border border-slate-300 rounded w-full" %>
    </div>
    <div class="my-2">
      <p><label>Number</label></p>
      <%= form.text_field :number, class: "border border-slate-300 rounded w-full" %>
    </div>
    <div class="my-2">
      <p><label>Expiry Date</label></p>
      <%= form.date_select :expiry_date, {}, class: "border border-slate-300 rounded" %>
    </div>
    <div class="mt-4 mb-2">
      <%= form.submit "Save", class: "text-sm border bg-green-100 text-green-700 border border-green-600 rounded py-2 px-3" %>
      <%= "Cancel" %>
    </div>
    <% end %>
  </div>
<% end %>