<%= turbo_frame_tag @address do %>
  <div class="bg-white border border-slate-300 rounded py-2 px-4 mb-4">
    <%= form_with model: @address, url: client_address_path(@address.client, @address) do |form| %>
      <div class="my-2">
        <p><label>Address 1</label></p>
        <%= form.text_field :address_1, class: "border border-slate-300 rounded w-full" %>
      </div>
      <div class="my-2">
        <p><label>Address 2</label></p>
        <%= form.text_field :address_2, class: "border border-slate-300 rounded w-full" %>
      </div>
      <div class="flex gap-4 my-2">
        <div>
          <p><label>City</label></p>
          <%= form.text_field :city, class: "border border-slate-300 rounded w-full" %>
        </div>
        <div>
          <p><label>Province</label></p>
          <%= form.text_field :province, class: "border border-slate-300 rounded w-full" %>
        </div>
        <div>
          <p><label>Postal Code</label></p>
          <%= form.text_field :postal_code, class: "border border-slate-300 rounded w-full" %>
        </div>
        <div>
          <p>1</p>
          <%= form.select :address_type, [['Current Address', :current], ['Past Address', :past]], {}, class: "border border-slate-300 rounded" %>
        </div>
      </div>
      <div class="mt-4 mb-2">
        <%= form.submit "Save", class: "text-sm border bg-green-100 text-green-700 border border-green-600 rounded py-2 px-3" %>
        <%= "Cancel" %>
      </div>
    <% end %>
  </div>
<% end %>