<%= render partial: 'layouts/breadcrumbs', locals: { breadcrumbs: @breadcrumbs } %>

<h1 class="font-bold text-2xl mb-4">Addresses</h1>
<div class="grid grid-cols-5 gap-4">
  <div class="col-span-4">
    <%= turbo_frame_tag 'addresses' do %>
      <%= render @addresses %>
    <% end %>
    <div class="bg-white border border-slate-300 rounded py-2 px-4 mb-4">
      <%= turbo_frame_tag 'new_address' do %>
        <%= link_to 'Add Address', new_client_address_path(@client) %>
      <% end  %>
    </div>
  </div>
  <%= render partial: "clients/clients/proposal_status" %>
</div>