<%= turbo_frame_tag 'gender' do %>
  <%= form_with model: @client do |form| %>
    <div class="flex gap-4 items-center">
      <div class="grow">
        <h2 class="font-bold text-lg mb-2">Gender</h2>
        <div class="flex gap-2">
          <%= form.hidden_field :field, value: 'gender' %>
          <%= form.select :gender, Client.genders.map { |key, value| [key.humanize, key] }, {}, class: "border border-slate-300 rounded" %>
          <%= form.submit 'Save', class: 'text-sm border border-slate-300 cursor-pointer text-slate-500 rounded py-2 px-3' %>
        </div>
      </div>
    </div>
  <% end  %>
<% end %>