<div class="bg-white border border-slate-300 rounded py-2 px-4">
  <h2 class="font-bold text-lg mb-2">Proposal Status</h2>
  <ul>
    <li class="text-sm py-1">
      <% if @client.date_of_birth.present? and @client.gender.present? and @client.marital_status.present? and @client.family_size.present? %>✅ <% else %>⬜️ <% end %>
      <%= link_to 'Details', @client, class: "py-1 text-green-500 underline" %>
    </li>
    <li class="text-sm py-1">
      <% if @client.addresses.current.present? and @client.addresses.past.any? %>✅ <% else %>⬜️ <% end %>
      <%= link_to "Addresses", client_addresses_path(@client), class: "py-1 text-green-500 underline" %>
    </li>
    <li class="text-sm py-1">
      <% if @client.phone_numbers.any? %>✅ <% else %>⬜️ <% end %>
      <%= link_to "Phone Numbers", client_phone_numbers_path(@client), class: "py-1 text-green-500 underline" %></li>
    <li class="text-sm py-1">
      <% if @client.identifications.drivers_license.any? and @client.identifications.sin.any? %>✅ <% else %>⬜️ <% end %>
      <%= link_to 'Identification', client_identifications_path(@client), class: "py-1 text-green-500 underline" %>
    </li>
    <li class="text-sm py-1">
      <% if @client.employments.any? %>✅ <% else %>⬜️ <% end %>
      <%= link_to 'Employment', client_employments_path(@client), class: "py-1 text-green-500 underline" %>
    </li>
    <li class="text-sm py-1">
      <% if @client.family_members.any? %>✅ <% else %>⬜️ <% end %>
      <%= link_to 'Family Members', client_family_members_path(@client), class: 'py-1 text-green-500 underline' %>
    </li>
  </ul>
</div>